<form class="text-center" method="POST" action="/">
    <input type="hidden" name="form-name" value="form1">
    <div class="form-group pb-4">
        <label for="signUpEmail">Email address</label>
        <input type="email" class="form-control" id="signUpEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        <small id="emailHelp" class="form-text text-muted">Enter your Dominican University email.</small>
    </div>
    <div class="form-group pb-4">
        <label for="signUpPassword">Password</label>
        <input type="password" class="form-control" id="signUpPassword" placeholder="Password" name="password1">
    </div>
    <div class="form-group pb-4">
        <label for="signUpPasswordReEnter">Re-Enter Password</label>
        <input type="password" class="form-control" id="signUpPasswordReEnter" placeholder="Re-Enter Password" name="password2">
    </div> 
    
    <div class="form-check pb-4">
        <input type="checkbox" class="form-check-input" id="signUpCheck1" data-toggle="" data-target="" required>
        <label class="form-check-label font-weight-bold" for="signUpCheck1" >I will read and agree to the Community Guidelines</label>
    </div>
    <button class="btn btn-primary mb-4">Sign Up</button>
</form>